---
import { type CollectionEntry, getCollection } from "astro:content";
import Layout from "@/src/layouts/layout.astro";

import { getPostColorFromCategory } from "@/src/utils/post-utils";
import { Hexagon } from "@/src/components/hexagon";
import { Tag } from "@/src/components/tag";

export async function getStaticPaths() {
  const posts = await getCollection("articles");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"articles">;

const post: Props = Astro.props;
const {
  data: {
    category,
    title,
    description,
    philosopher: { name, title: philosopherTitle },
  },
} = post;
const { Content } = await post.render();
---

<Layout>
  <section class="pt-36 pb-24 md:py-52">
    <div class="relative overflow-x-clip">
      <div
        class="absolute top-1/2 left-1/2 hidden -translate-x-1/2 -translate-y-1/2 md:block"
      >
        <Hexagon size={1000} duration={30} client:load />
      </div>
      <div
        class="absolute top-1/2 left-1/2 hidden -translate-x-1/2 -translate-y-1/2 md:block"
      >
        <Hexagon size={1400} duration={50} reverse client:load />
      </div>

      <div class="container mx-auto px-4">
        <div class="mx-auto max-w-3xl">
          <div class="text-center">
            <Tag color={getPostColorFromCategory(category)}>{category}</Tag>
          </div>
          <h1
            class="mx-auto mt-4 max-w-2xl text-center text-5xl leading-14 font-extrabold text-slate-800 md:text-6xl"
          >
            {title}
          </h1>
          <p
            class="mx-auto mt-6 max-w-xl text-center font-serif text-2xl text-slate-700 md:text-3xl"
          >
            {description}
          </p>
          <div class="mt-8 flex flex-col items-center">
            <div
              class="size-16 rounded-full bg-green-400 bg-cover bg-center shadow-lg"
            >
            </div>
            <div
              class="mt-3 font-serif text-lg font-semibold not-italic md:text-xl"
            >
              {name}
            </div>
            <p
              class="font-serif text-base text-slate-800 not-italic md:text-lg"
            >
              {philosopherTitle}
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</Layout>
