---
import { getCollection } from "astro:content";
import Layout from "@/src/layouts/layout.astro";
import { twMerge } from "tailwind-merge";
import { motion } from "framer-motion";

import { getPostColorFromCategory } from "@/src/utils/post-utils";
import { Card } from "@/src/components/card";
import { Hexagon } from "@/src/components/hexagon";
import { Tag } from "@/src/components/tag";

const posts = (await getCollection("articles")).sort(
  (a, b) => b.data.publishedDate.valueOf() - a.data.publishedDate.valueOf()
);

const latestPosts = posts[0];
---

<Layout>
  <section class="relative overflow-x-clip pt-36 pb-24 md:py-52">
    <div
      class="absolute top-1/2 left-1/2 hidden -translate-x-1/2 -translate-y-1/2 md:block"
    >
      <Hexagon size={1000} duration={30} client:load />
    </div>
    <div
      class="absolute top-1/2 left-1/2 hidden -translate-x-1/2 -translate-y-1/2 md:block"
    >
      <Hexagon size={1400} duration={50} reverse client:load />
    </div>
    <div class="container mx-auto px-4">
      <div class="mx-auto max-w-3xl">
        <p
          class="text-center text-lg font-bold tracking-wider text-slate-600 uppercase"
        >
          Latest Posts
        </p>
        <h1
          class="mx-auto mt-4 max-w-2xl text-center text-5xl font-extrabold text-slate-800 md:text-6xl"
        >
          {latestPosts.data.title}
        </h1>
        <p
          class="mx-auto mt-6 max-w-xl text-center font-serif text-2xl text-slate-700 md:text-3xl"
        >
          {latestPosts.data.description}
        </p>
        <div class="mt-10 flex justify-center">
          <a href={`/articles/${latestPosts.slug}`}>
            <button
              class="group relative cursor-pointer overflow-hidden px-4 py-2 font-semibold tracking-wide uppercase transition-all duration-300"
            >
              <div
                class="absolute inset-0 outline-2 -outline-offset-2 outline-green-700 transition-all duration-300 group-hover:bg-green-700/10"
              >
              </div>
              <div
                class="absolute inset-0 -z-10 origin-left scale-x-0 transform bg-green-700 transition-transform duration-300 ease-out group-hover:scale-x-100"
              >
              </div>
              <span
                class="relative z-10 leading-6 text-green-700 transition-colors duration-300 group-hover:text-white"
              >
                Read Now
              </span>
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="pb-24 pt-0 md:pt-52 md:pb-32">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-1 md:grid-cols-2 md:gap-x-8">
        <div class="flex flex-col gap-y-8">
          {
            posts.map(
              ({ data: { category, title, description }, slug }, index) => (
                <motion.a
                  initial={{ opacity: 0, y: 20 }}
                  whileInView={{ opacity: 1, y: 0 }}
                  viewport={{ once: true, amount: 0.5 }}
                  transition={{
                    duration: 0.5,
                    ease: "easeIn",
                  }}
                  href={`/articles/${slug}`}
                  className={twMerge(index % 2 !== 0 && "md:hidden")}
                  client:load
                >
                  <Card
                    buttonText="Read More"
                    color={getPostColorFromCategory(category)}
                  >
                    <Tag color={getPostColorFromCategory(category)}>
                      {category}
                    </Tag>
                    <h2 class="mt-4 font-sans text-3xl font-extrabold text-slate-800">
                      {title}
                    </h2>
                    <p class="mt-6 font-serif text-xl text-slate-800 md:text-2xl">
                      {description}
                    </p>
                  </Card>
                </motion.a>
              )
            )
          }
        </div>

        <div class="hidden flex-col gap-y-12 md:mt-24 md:flex">
          {
            posts.map(
              ({ data: { category, title, description }, slug }, index) => (
                <motion.a
                  initial={{ opacity: 0, y: 20 }}
                  whileInView={{ opacity: 1, y: 0 }}
                  viewport={{ once: true, amount: 0.5 }}
                  transition={{
                    duration: 0.5,
                    ease: "easeIn",
                  }}
                  href={`/articles/${slug}`}
                  className={twMerge(index % 2 === 0 && "md:hidden")}
                  client:load
                >
                  <Card
                    buttonText="Read More"
                    color={getPostColorFromCategory(category)}
                  >
                    <Tag color={getPostColorFromCategory(category)}>
                      {category}
                    </Tag>
                    <h2 class="mt-4 font-sans text-3xl font-extrabold text-slate-800">
                      {title}
                    </h2>
                    <p class="mt-6 font-serif text-xl text-slate-800 md:text-2xl">
                      {description}
                    </p>
                  </Card>
                </motion.a>
              )
            )
          }
        </div>
      </div>
    </div>
  </section>
</Layout>
